<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="api" stopProcessing="true">
                    <match url="^(?!index\.cfm)(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.cfm?endpoint=/{R:0}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <remove name="WebDAV" />
        </handlers>
     <httpErrors existingResponse="PassThrough" />
        <security>
            <requestFiltering>
                <denyUrlSequences>
                    <remove sequence="/rest" />
                </denyUrlSequences>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>